@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

html{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 3px rgb(181, 181, 181);
    padding: 16px 4px;
    width: fit-content;
    align-items: center;
}

.qr{
    width: 300px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.titulo, .description{
    max-width: 315px;
    text-align: center;
    margin: 5px;
}

.description{
    max-width: 275px;
    margin-bottom: 15px;
}
